body {
  font-family: Arial, sans-serif;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  background-color: rgba(71, 121, 90, 0.8); /* 半透明背景 */
  padding: 10px;
  text-align: center;
  border-radius: 10px; /* 圆角效果 */
}

section {
  margin: 20px;
  padding: 20px;
  background-color: rgba(180, 180, 180, 0.352); /* 半透明白色背景 */
  border: 1px solid #ddd;
  border-radius: 15px; /* 圆角效果 */
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.profile {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
