* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("background1.png");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

header {
  background-color: rgba(57, 91, 120, 0.8);
  margin: 20px;
  padding: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
main {
  padding: 20px;
}

.project-w1 {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.project-w1image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-w1 p {
  font-size: 18px;
  line-height: 1.6;
  color: white;
}
